<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Servicios Estadisticos</name>

<description>
Apps para los servicios estadisticos
</description>

<author href="" email="marco.demetrio@gmail.com">
Marco Antonio Demetrio López
</author>


<gap:plugin name="org.apache.cordova.dialogs" />

<preference name="phonegap-version" value="3.7.0" />
</widget>
